<div class="container-fluid">
  <H1>Learning linux command per drag&drop</H1>

  <div class="row">
    <div class="col-md-12">
      <linux-command-drop></linux-command-drop>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <linux-command-drag></linux-command-drag>
    </div>
    <div class="col-md-4">
      <linux-command-source></linux-command-source>
    </div>
    <div class="col-md-4">
      <linux-command-result></linux-command-result>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 footer">
      footer
    </div>
    <div class="col-md-4 footer">
      footer
    </div>
  </div>

</div>
